version: "3.8"

services:
  postgres:
    image: postgres:latest
    container_name: gecko-postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: gecko-db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
